# docker-compose.yml
version: "3.8"
services:
  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: "1234"
      MYSQL_DATABASE: "base"
    volumes:
      - mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 3s
      retries: 5

  app:
    image: tiburonblanco/app:1.0.1
    container_name: app
    ports:
      - "3000:3000"
    environment:
      MYSQL_PASSWORD: "1234"
      MYSQL_DB: "base"
      MYSQL_HOST: "db"
      MYSQL_USER: "root"
    depends_on:
      db:
        condition: service_healthy

volumes:
  mysql:

